#app{
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 8rem;
}
.app-container{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.app-container .app-image img{
    width:550px;
}
.app-container .app-text{
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
}
.app-container .app-text h6{
    font-size: 1rem;
    line-height: 26px;
    color: #00BB98;
    margin: 1rem 0;
    text-align: start;
}
.app-container .app-text h3{
    font-size: 2.5rem;
    text-align: start;
    margin: 1rem 0;
}
.app-container .app-text p{
    font-size: 1rem;
    line-height: 26px;
    color: rgba(0, 11, 51, 0.5);
    text-align: start;
    margin-bottom: 2rem;
}
.ae-60{
    position: absolute;
    left: 510px;
    top: 50px;
    z-index: -1;
}
@media(min-width:0px) and (max-width:480px){
    #app{
        width: 100%;
        overflow-x: hidden;
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .app-container{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .app-container .app-image{
        margin: auto;
    }
    .app-container .app-image img{
        width: 90%;
    }
    .app-container .app-text{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .app-container .app-text h6{
        font-size: 1.5rem;
        text-align: center;
    }
    .app-container .app-text h3{
        font-size: 2rem;
        text-align: center;

    }
    .app-container .app-text p{
        font-size: 1rem;
        text-align: center;

    }

    .app-container img{
        width: 70px;
    }
}

@media(min-width:1500px){
    #app{
        width: 100%;
        height: 600px;
        position: relative;
        margin-top: 8rem;
    }
    .app-container{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .app-container .app-image img{
        width: 600px;
    }
    .app-container .app-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .app-container .app-text h6{
        font-size: 3rem;
        text-align: center;
    }
    .app-container .app-text h3{
        font-size: 4rem;
        text-align: center;

    }
    .app-container .app-text p{
        font-size: 1.5rem;
        text-align: center;
    }
    .ae-60{
        width: 250px;
        position: absolute;
        left: 580px;
        top: 50px;
        z-index: -1;
    }
}
@media(min-width:1700px){
    #app{
        width: 100%;
        height: 600px;
        position: relative;
        margin-top: 8rem;
    }
    .app-container{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .app-container .app-image img{
        width: 600px;
    }
    .app-container .app-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .app-container .app-text h6{
        font-size: 3rem;
        text-align: center;
    }
    .app-container .app-text h3{
        font-size: 4rem;
        text-align: center;

    }
    .app-container .app-text p{
        font-size: 1.5rem;
        text-align: center;
    }
    .ae-60{
        width: 250px;
        position: absolute;
        left: 580px;
        top: 50px;
        z-index: -1;
    }
}
@media(min-width:1900px){
    #app{
        width: 100%;
        height: 600px;
        position: relative;
        margin-top: 8rem;
    }
    .app-container{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .app-container .app-image img{
        width: 650px;
    }
    .app-container .app-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .app-container .app-text h6{
        font-size: 3.5rem;
        text-align: center;
    }
    .app-container .app-text h3{
        font-size: 4.5rem;
        text-align: center;

    }
    .app-container .app-text p{
        font-size: 2rem;
        text-align: center;
    }
    .ae-60{
        width: 250px;
        position: absolute;
        left: 650px;
        top: 50px;
        z-index: -1;
    }
}
