#hero{
    width: 100%;
    background-color: rgba(196, 196, 196, 1);
    position: relative;
    height: 780px;
}
.hero-container{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 18.5rem; */
}
.hero-container .hero-text{
    position: absolute;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.hero-container .hero-text h3{
    font-size: 4rem;
    text-align: start;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 0;
}
.hero-container .hero-text p{
    font-size: 1rem;
    text-align: start;
    color: rgba(0, 11, 51, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    margin: 2rem 0;
}
.hero-container .hero-image img{
    width: 700px;
    position: absolute;
    right: 0;
    top: 95px;
    margin: 2rem 0;
}
.e-61{
    position: absolute;
    left: 850px;
    top: 170px;
}
.e-62{
    position: absolute;
    left: 600px;
    top: 550px;
}
.dots{
    position: absolute;
    right: 0;
    top: 470px;
}
@media(min-width:0px) and (max-width:480px){
    #hero{
        width: 100%;
        height: 900px;
        overflow-x: hidden;
        position: relative;
    }
    .dots{
        position: absolute;
        right:0px ;       
        width: 10%;
        top: 500px;
    }
    .e-61{
        position: absolute;
        left: 350px;
    }
    .hero-container{
        width: 85%;
        display: block;
        position: relative;
    }
    .hero-container .hero-text h3{
        font-size: 2rem;
        font-weight: bold;
    }
    .hero-container .hero-text p{
        font-size: 1rem;
    }
    .hero-container .hero-image img{
        position: absolute;
       width:380px;
       right: 0px;
        top: 500px;
    }

}
@media(min-width:481px) and (max-width:820px){
    #hero{
        width: 100%;
        height: 900px;
        overflow-x: hidden;
        position: relative;
    }
    .dots{
        position: absolute;
        right:0px ;       
        width: 10%;
        top: 500px;
    }
    .e-61{
        position: absolute;
        left: 350px;
    }
    .hero-container{
        width: 85%;
        display: block;
        position: relative;
    }
    .hero-container .hero-text h3{
        font-size: 2rem;
        font-weight: bold;
    }
    .hero-container .hero-text p{
        font-size: 1rem;
    }
    .hero-container .hero-image img{
        position: absolute;
       width:380px;
       right: 0px;
        top: 500px;
    }

}
@media(min-width:1500px){
    #hero{
        width: 100%;
        height: 780px;
        overflow-x: hidden;
        position: relative;
    }
    .hero-container .hero-text h3{
        font-size: 5rem;
        font-weight: bold;
    }
    .hero-container .hero-text p{
        font-size: 1.5rem;
    }
    .hero-container .hero-text .hero-button img{
        width: 230px;
    }
    .e-61{
        width: 150px;
        position: absolute;
        left: 1100px
    }
    .e-62{
        width: 60px;
        position: absolute;
        left: 800px;
    }
}
@media(min-width:1700px){
    #hero{
        width: 100%;
        height: 780px;
        overflow-x: hidden;
        position: relative;
    }
    .hero-container .hero-text h3{
        font-size: 5rem;
        font-weight: bold;
    }
    .hero-container .hero-text p{
        font-size: 1.5rem;
    }
    .hero-container .hero-text .hero-button img{
        width: 230px;
    }
    .e-61{
        width: 150px;
        position: absolute;
        left: 1300px
    }
    .e-62{
        width: 60px;
        position: absolute;
        left: 1000px;
    }
}
@media(min-width:1900px){
    #hero{
        width: 100%;
        height: 780px;
        overflow-x: hidden;
        position: relative;
    }
    .hero-container .hero-text h3{
        font-size: 5rem;
        font-weight: bold;
    }
    .hero-container .hero-text p{
        font-size: 1.5rem;
    }
    .hero-container .hero-text .hero-button img{
        width: 230px;
    }
    .e-61{
        width: 150px;
        position: absolute;
        left: 1500px
    }
    .e-62{
        width: 60px;
        position: absolute;
        left: 1000px;
    }
}

    



