#offer{
    width: 100%;
}
.offer-container{
    width: 85%;
    height: 350px;
    margin: auto;
    background-color: rgba(0, 28, 128, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: relative;
}
.offer-container h3{
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
}
.offer-container .input{
    width: 550px;
    height: auto;
}
.offer-container .offer-shapes{
    width: 800px;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
}
@media(min-width:0px) and (max-width:480px){
    #offer{
        width: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: calc();
    }
    .offer-container{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    .offer-container h3{
        font-size: 2rem;
        text-align: center;
    }
    .offer-container .input{
        width: 80%;
    }
    .offer-container .offer-shapes{
        width: 400px;
    }
}
@media(min-width:1500px){
    #offer{
        width: 100%;
    }
    .offer-container{
        width: 85%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.5rem;
    }
    .offer-container .input{
        width: 600px;
        height: auto;
    }
}
@media(min-width:1700px){
    #offer{
        width: 100%;
    }
    .offer-container{
        width: 85%;
        height: 430px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.5rem;
    }
    .offer-container .input{
        width: 600px;
        height: auto;
    }
}
@media(min-width:1900px){
    #offer{
        width: 100%;
    }
    .offer-container{
        width: 85%;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.5rem;
    }
    .offer-container .input{
        width: 600px;
        height: auto;
    }
}