#online{
    width: 100%;
    height: 750px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.online-container{
    width: 88%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 45rem;
    position: relative;
}
.online-container .online-text{
    margin-top: 1rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 30px;
}
.online-container .online-text h6{
    font-size: 1rem;
    line-height: 1rem;
    color: #00BB98;
    margin:1rem 0;
}
.online-container .online-text h3{
    font-size: 2rem;
    line-height: 58px;
    margin:1rem 0;
    font-weight: 400;
}
.online-container .online-text p{
    font-size: 0.8rem;
    line-height: 26px;
    color: #000B33;
    opacity: 0.8;
    margin-bottom: 2rem;
    margin: 0;
}
.online-container .online-text img{
    width: 380px;
    margin-bottom: 1rem;
}
.online-container .online-image .desktop-screen{
    width: 830px;
    position: absolute;
    top: 100px;
    left: 535px;
}
.online-container .online-image .mobile-screen{
    display: none;
}
.online-container .online-text .dropbox img{
    width: 50px;
}
.online-container .online-text .dropbox {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.online-container .online-text .dropbox .drop-one div .v-1{
    width: 10px;
    margin-left: 30px;
    margin-top: 15px;
}
.online-container .online-text .dropbox .v-2{
    width: 10px;
}
.online-container .online-text .dropbox .drop-one{
    padding: 0.5rem 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 10px;
    box-shadow: -1px 15px 21px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 15px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 15px 21px 0px rgba(0,0,0,0.75);
}
.online-container .online-text .dropbox .drop-one div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.online-container .online-text .dropbox .drop-one div img{
    margin-right: 2.7rem;
}
.online-container .online-text .dropbox .drop-one p{
    margin-left: 6rem;
    text-align: center;
    color: #000B33;
    opacity: 0.8;
}
.online-container .online-text .dropbox .drop-two{
    padding: 0.5rem 1rem;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border-radius: 10px;
    box-shadow: -1px 15px 21px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 15px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 15px 21px 0px rgba(0,0,0,0.75);
}
.online-container .online-text .dropbox .drop-three{
    padding: 0.5rem 1rem;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 3rem;
    border-radius: 10px;
    box-shadow: -1px 15px 21px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 15px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 15px 21px 0px rgba(0,0,0,0.75);
}
@media(min-width:0px) and (max-width:480px){
    #online{
        width: 100%;
        height: 1000px;
    }
    .online-container{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .online-container .online-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }
    .online-container .online-text h6{
        font-size: 1.5rem;
    }
    .online-container .online-text h3{
        font-size: 2rem;
        text-align: center;
    }
    .online-container .online-text p{
        font-size: 0.7em;
        text-align: center;
    }
    .online-container .online-text img{
        width: 250px;
    }
    .online-container .online-image img{
        position: absolute;
        width: 300px;
        top: 700px;
        left: 30px;
    }
    .online-container .online-image .desktop-screen{
        display: none;
    }
    .online-container .online-image .mobile-screen{
        width: 400px;
        display: block;
        margin-left: -20px;
    }
    .online-container .online-text .dropbox .drop-one{
        width: 350px;
    }
    .online-container .online-text .dropbox .drop-one p{
        display: none;
    }
    .online-container .online-text .dropbox .drop-two{
        width: 300px;
    }
    .online-container .online-text .dropbox .drop-three{
        width: 300px;
    }
}
@media(min-width:1500px){
    #online{
        width: 100%;
        height: 750px;
        overflow-x: hidden;
        position: relative;
    }
    .online-container{
        width: 88%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 45rem;
    }
    .online-container .online-text h6{
        font-size: 2rem;
        line-height: 1rem;
        color: #00BB98;
        margin:1rem 0;
    }
    .online-container .online-text h3{
        font-size: 3rem;
        line-height: 58px;
        margin:1rem 0;
    }
    .online-container .online-text p{
        font-size: 1rem;
        line-height: 26px;
        color: rgba(0, 11, 51, 0.8);
        margin-bottom: 2rem;
        margin: 0;
    }
    .online-container .online-image img{
        width: 650px;
        position: absolute;
        top: 100px;
        left: 750px;
    }
    .online-container .online-text img{
        width: 400px;
        margin-bottom: 1rem;
    }
}
@media(min-width:1700px){
    #online{
        width: 100%;
        height: 750px;
        overflow-x: hidden;
        position: relative;
    }
    .online-container{
        width: 88%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 45rem;
    }
    .online-container .online-text h6{
        font-size: 2rem;
        line-height: 1rem;
        color: #00BB98;
        margin:1rem 0;
    }
    .online-container .online-text h3{
        font-size: 3rem;
        line-height: 58px;
        margin:1rem 0;
    }
    .online-container .online-text p{
        font-size: 1rem;
        line-height: 26px;
        color: rgba(0, 11, 51, 0.8);
        margin-bottom: 2rem;
        margin: 0;
    }
    .online-container .online-image img{
        width: 750px;
        position: absolute;
        top: 100px;
        left: 940px;
    }
    .online-container .online-text img{
        width: 400px;
        margin-bottom: 1rem;
    }
}
@media(min-width:1900px){
    #online{
        width: 100%;
        height: 750px;
        overflow-x: hidden;
        position: relative;
    }
    .online-container{
        width: 88%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 45rem;
    }
    .online-container .online-text h6{
        font-size: 2.5rem;
        line-height: 1rem;
        color: #00BB98;
        margin:1rem 0;
    }
    .online-container .online-text h3{
        font-size: 3.5rem;
        line-height: 58px;
        margin:1rem 0;
    }
    .online-container .online-text p{
        font-size: 1.5rem;
        line-height: 26px;
        color: rgba(0, 11, 51, 0.8);
        margin-bottom: 2rem;
        margin: 0;
    }
    .online-container .online-image img{
        width: 750px;
        position: absolute;
        top: 100px;
        left: 1130px;
    }
    .online-container .online-text img{
        width: 400px;
        margin-bottom: 1rem;
    }
}
