#students{
    width: 100%;
    height: 550px;
    margin-top: 4rem;
    position: relative;
}
.students-container{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.students-container .image{
    width: 310px;
}
.students-container .say{
    width: 636px;
}
#students .sdots{
    width:66px;
    position: absolute;
    right: 400px;
}
@media(min-width:0px) and (max-width:480px){
    #students{
        width: 100%;
        height: 450px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .students-container{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .students-container .image{
        width: 50%;
    }
    .students-container .say{
        width: 50%;
    }
    #students .sdots{
        position: absolute;
        bottom: 10px;
        width: 30px;
        left: 220px;
    }


}

@media(min-width:1500px){
    #students{
        width: 100%;
        height: 700px;
        margin-top: 4rem;
        position: relative;
    }
    .students-container{
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .students-container .image{
        width: 400px;
    }
    .students-container .say{
        width: 700px;
    }
    #students .sdots{
        width:80px;
        position: absolute;
        right: 400px;
    }
}
@media(min-width:1700px){
    #students{
        width: 100%;
        height: 700px;
        margin-top: 4rem;
        position: relative;
    }
    .students-container{
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .students-container .image{
        width: 430px;
    }
    .students-container .say{
        width: 730px;
    }
    #students .sdots{
        width:80px;
        position: absolute;
        right: 450px;
    }
}
@media(min-width:1900px){
    #students{
        width: 100%;
        height: 750px;
        margin-top: 4rem;
        position: relative;
    }
    .students-container{
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .students-container .image{
        width: 450px;
    }
    .students-container .say{
        width: 750px;
    }
    #students .sdots{
        width:100px;
        position: absolute;
        right: 480px;
    }
}