#students{
    width: 100%;
    height: 550px;
    margin-top: 4rem;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.students-container{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.students-container .image{
    width: 310px;
}
.student-says {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 636px;
    height: 310px;
    box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
    border-radius: 10px;
}
.student-says p{
    font-size: 0.8rem;
    text-align: center;
    color: rgba(0, 11, 51, 0.7);
}
.student-says .footer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.student-says .footer h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.student-says .footer h6{
    font-size: 1rem;
    text-align: center;
}
.student-says img{
    width: 90px;
}
.student-says .comma{
    width: 120px;
    position: absolute;
    right: 20px;
    bottom: 30px;
}
#students .sdots{
    width:66px;
    position: absolute;
    right: 400px;
}
@media(min-width:0px) and (max-width:480px){
    #students{
        width: 100%;
        height: 450px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .students-container{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .students-container .image{
        width: 50%;
    }
    #students .sdots{
        position: absolute;
        bottom: 10px;
        width: 30px;
        left: 220px;
    }


}

@media(min-width:1500px){
    #students{
        width: 100%;
        height: 700px;
        margin-top: 4rem;
        position: relative;
    }
    .students-container{
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .students-container .image{
        width: 400px;
    }
    #students .sdots{
        width:80px;
        position: absolute;
        right: 400px;
    }
}
@media(min-width:1700px){
    #students{
        width: 100%;
        height: 700px;
        margin-top: 4rem;
        position: relative;
    }
    .students-container{
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .students-container .image{
        width: 430px;
    }
    #students .sdots{
        width:80px;
        position: absolute;
        right: 450px;
    }
}
@media(min-width:1900px){
    #students{
        width: 100%;
        height: 750px;
        margin-top: 4rem;
        position: relative;
    }
    .students-container{
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .students-container .image{
        width: 450px;
    }
    #students .sdots{
        width:100px;
        position: absolute;
        right: 480px;
    }
}